.footer {
  background: url("../images/paymebackground.png") no-repeat center;
  flex-shrink: 0;
  padding-top: 60px;

  .container-footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 auto;
    max-width: 1200px;
    align-items: baseline;

    .logo {
      display: flex;
      flex-shrink: 0;
      align-items: flex-end;
      font-size: 30px;
      color: #ffffff;
      svg {
        width: 80px;
        height: 80px;
      }
      .name-logo {
        margin-bottom: 10px;
        font-weight: 600;
      }
    }

    .contact {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      justify-content: space-between;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 100px;
      align-items: center;
      .contact-info {
        width: 50%;
        color: #cfd2ff;
        line-height: 1.5;
      }
      .button {
        margin-top: 0;
        background: #4ca9ff;
        border-radius: 23px;
        padding: 10px 30px;
        width: 230px;
        text-align: center;
        box-shadow: 0 25px 30px rgba(76, 169, 255, 0.5);
        a {
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    .thin-line {
      width: 100%;
      height: 1px;
      background: #7e65bb;
    }

    .copyring {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      justify-content: space-between;
      height: 45px;
      font-size: 14px;
      align-items: center;
      text-transform: uppercase;
      color: #fafbfc;
      span {
        color: #4890e8;
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    background: url("../images/paymebackground.png") no-repeat center;
    flex-shrink: 0;
    padding-top: 0;

    .container-footer {
      max-width: none;
      margin: 0 30px;

      .logo {
        display: flex;
        flex-shrink: 0;
        align-items: flex-end;
        font-size: 25px;
        color: #ffffff;
        svg {
          margin-right: 15px;
        }
        .name-logo {
          margin-bottom: 10px;
          font-weight: 600;
        }
      }

      .contact {
        margin-bottom: 30px;
      }
    }
  }

}

@media (max-width: 480px) {
  .footer {

    .container-footer {
      flex-shrink: 0;
      margin: 10px 20px;

      .logo {
        display: none;
      }

      .contact {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 15px;
        align-items: center;
        .contact-info {
          width: auto;
          color: #cfd2ff;
          line-height: 1.5;
        }
        .button {
          display: inline-block;
          width: auto;
          height: auto;
          margin: 20px auto;
          padding: 10px 20px;
          line-height: normal;
          a {
            font-size: 14px;
          }
        }
      }

      .thin-line {
        display: none;
      }

      .copyring {
        display: none;
      }
    }
  }
}
