.header {
  background: url("../images/digital.jpg") no-repeat center;
  flex-shrink: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 850px;
    max-width: 1200px;

    .nav-top {
      display: flex;
      flex-shrink: 0;
      height: 100px;
      align-items: flex-end;
      justify-content: space-between;
      .logo {
        display: flex;
        flex-shrink: 0;
        align-items: flex-end;
        font-size: 30px;
        color: #ffffff;
        svg {
          width: 80px;
          height: 80px;
        }
        .name-logo {
          margin-bottom: 10px;
          font-weight: 600;
        }
      }
      .menu {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        color: #ffffff;
        margin-bottom: 10px;
        .logo-menu {
          margin-left: 15px;
          svg {
            width: 25px;
            height: 25px;
            fill: #4890e8;
          }
        }
      }
    }

    .slogan {
      font-size: 90px;
      color: white;
      text-align: center;
      font-weight: 300;
      span {
        color: #4890e8;
      }
    }

    .arrows {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      height: 120px;
      .arrow {
        margin-bottom: -6px;
        width: 25px;
        height: 25px;
        &.-bright {
          fill: rgb(118, 92, 183);
        }
        &.-light {
          fill: rgb(170, 156, 210);
        }
        &.-blue {
          fill: rgb(75, 169, 255);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    background-size: cover;

    .container {
      max-width: none;
      margin: 10px 30px;
      height: 450px;

      .nav-top {
        height: auto;
        .logo {
          font-size: 25px;
        }
      }

      .slogan {
        margin-top: 50px;
        font-size: 60px;
      }

      .arrows {
        height: auto;
        margin-bottom: 50px;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    background-size: cover;

    .container {
      justify-content: space-between;
      margin: 10px 20px;
      height: 250px;
      max-width: none;

      .nav-top {
        height: 100px;
        align-items: flex-start;
        .logo {
          font-size: 14px;
          svg {
            width: 50px;
            height: 50px;
          }
        }
        .menu {
          margin-top: 25px;
          .logo-menu {
          }
        }
      }

      .slogan {
        font-size: 25px;
        margin: 0 auto;
      }

      .arrows {
        height: auto;
        margin-top: 30px;
      }
    }
  }
}