body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Roboto, "Open Sans", serif;
  font-size: 14px;
  color: #40485a;
}

@import "_header";
@import "_content";
@import "_footer";

@media (max-width: 1200px) {
}


@media (max-width: 480px) {
}


